<nav>

        <div class="circleBehind">
            <a href="/mainPage">HOME</a>
            <a href="/courses/registration/search/{{id}}">BACK TO COURSE</a>
            <a href="/courses/registration/">MAKE ANOTHER SEARCH</a>
            <a href="/aboutus">ABOUT-US</a>
            <a href="/logout">LOGOUT</a>
        </div>
        
</nav>

<section>
    <h2>Comments about {{courseName}}</h2>
    {{#if hasComment}}
    <ul>
        {{#each comments}}
            <li>
                <dl class="posts">
                    <dt>Poster : {{this.poster}}</dt>
                    
                    <dt>Comment : {{this.comment}}</dt>
                    
                    <dt>Rate : {{this.rate}}</dt>

                </dl>
            </li>
        {{/each}}
    </ul>
    {{else}}
    <p>Sorry, but there is no comment about {{courseName}}</p>
    {{/if}}
</section>