<nav>
        <div class="circleBehind">
            <a href="/mainPage">HOME</a>
            <a href="/courses/registration/">MAKE ANOTHER SEARCH</a>
            <a href="/aboutus">ABOUT-US</a>
            <a>HOW IT WORKS</a>
            <a href="/logout">LOGOUT</a>
        </div>
</nav>
<section>
    <h1>Course List of {{department}}</h1>
    {{#if boo}}
    <ul>
        {{#each courses}}
        <article>
        <li class="link-css">
            <a href = "/courses/registration/search/{{this._id}}">{{this.courseTitle}}  {{this.courseName}}</a>
        </li>
        <br>
        </article>
        {{/each}}
    </ul>
    {{else}}
    <p> We're sorry, but no course was found for the department {{department}}</p>
    {{/if}}
</section>