{{!-- JG added --}}
<nav>
        <div class="circleBehind">
            <a href="/mainPage">HOME</a>
            <a href="/courses/rating/">MAKE ANOTHER COMMENT</a>
            <a href="/aboutus">ABOUT-US</a>
            <a href="/logout">LOGOUT</a>
        </div>
</nav>
<section>
    <h1> Options </h1>
    {{#if hasComment}}
    <p>The previous comment made by you is:</p>
    <dl>
        <dt>Comment : {{comment.comment}}</dt>
        
        <dt>Rate : {{comment.rate}}</dt>

    </dl>

    <ul class="editComments">
        <li><a href = "/courses/rating/changeComment/{{id}}">Change your comment</a></li>
        <li><a href = "/courses/rating/deleteComment/{{id}}">Delete your comment</a></li>
    </ul>
    {{else}}
    <p>No comment made by you for this course</p>
    <ul>
        <li><a href = "/courses/rating/newComment/{{id}}">Make a new comment</a></li>
    </ul>
    {{/if}}
</section>