{{!-- JG added --}}
<nav>
        <div class="circleBehind">
            <a href="/mainPage">HOME</a>
            <a href="/aboutus">ABOUT-US</a>
            <a href="/logout">LOGOUT</a>
        </div>

</nav>

<div class="twoColumn">

<div class="userInfo">
    <h1>Student Profile</h1>

    <table>
      <thead>
        <tr>
          <th>Details</th>
          <th>Values</th>
        </tr>
      </thead>
  <tbody>
    <tr>
      <td>Last Name</td>
      <td>{{user.lastName}}</td>
    </tr>
    <tr>
      <td>First Name</td>
      <td>{{user.firstName}}</td>
    </tr>
    <tr>
      <td>Student ID</td>
      <td>{{user.studentId}}</td>
    </tr>
    <tr>
      <td>Year</td>
      <td>{{user.year}}</td>
    </tr>
    <tr>
      <td>Credits</td>
      <td>{{user.credits}}</td>
    </tr>
    <tr>
      <td>Finished Courses</td>
      <td>{{user.finishedCourses}}</td>
    </tr>
    <tr>
      <td>Current Courses</td>
      <td>{{user.currentCourses}}</td>
    </tr>
    <tr>
      <td>Registered Courses</td>
      <td>{{user.registeredCourses}}</td>
    </tr>

  </tbody>
</table>
</div>

<div class="selection">
        
        <h2>Choose Option:</h2>
        
        <br>

        <div class="card">
            <h1 class="h1-card">Register Here!</h1>
            <div class="overlay"> 
                <a href = "/courses/registration/">Registration</a> 
            </div>
        </div>

        <br>

        <div class="card">
            <h1 class="h1-card">Rate Here!</h1>
            <div class="overlay"> 
                <a href = "/courses/rating">Rating</a>
            </div>
        </div>
</div>

</div>