<article>
<nav>
        <div class="circleBehind">
            <a href="/mainPage">HOME</a>
            <a>ABOUT-US</a>
            <a>HOW IT WORKS</a>
            <a href="/logout">LOGOUT</a>
        </div>

</nav>

<div class="twoColumn">

<div class="userInfo">
    <h1>Student information</h1>

    <table>
  <thead>
    <tr>
      <th>Data-Fields</th>
      <th>Data-Values</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td data-column="df">Last Name</td>
      <td data-column="dv">{{user.lastName}}</td>
    </tr>
    <tr>
      <td data-column="df">First Name</td>
      <td data-column="dv">{{user.firstName}}</td>
    </tr>
    <tr>
      <td data-column="df">Student ID</td>
      <td data-column="dv">{{user.studentId}}</td>
    </tr>
    <tr>
      <td data-column="df">Year</td>
      <td data-column="dv">{{user.year}}</td>
    </tr>
    <tr>
      <td data-column="df">Credits</td>
      <td data-column="dv">{{user.credits}}</td>
    </tr>
    <tr>
      <td data-column="df">Finished Courses</td>
      <td data-column="dv">{{user.finishedCourses}}</td>
    </tr>
    <tr>
      <td data-column="df">Current Courses</td>
      <td data-column="dv">{{user.currentCourses}}</td>
    </tr>
    <tr>
      <td data-column="df">Registered Courses</td>
      <td data-column="dv">{{user.registeredCourses}}</td>
    </tr>

  </tbody>
</table>
</div>

<div class="selection">
        
        <h1>Choose Option:</h1>
        
        <br>

        <div class="card">
            <h1 class="h1-card">Register Here!</h1>
            <div class="overlay"> 
                <a href = "/courses/registration/">Registration</a> 
            </div>
        </div>

        <br>

        <div class="card">
            <h1 class="h1-card">Rate Here!</h1>
            <div class="overlay"> 
                <a href = "/courses/rating">Rating</a>
            </div>
        </div>
</div>

</div>



</article>