<nav>
        <div class="circleBehind">
            <a href="/mainPage">GO BACK</a>
            <a>ABOUT-US</a>
            <a>HOW IT WORKS</a>
            <a href="/logout">LOGOUT</a>
        </div>
</nav>

<br>

<div class="row">
  
  <div class="column">
    <h1 class="h1-reg">Search by CourseID</h1>
    <p>Please type a course ID that you want to search</p>
    <form class="reg" action = "search" method = "POST" class = "new-search-form">
        <label>
            Search course ID
            <input class="cID" type="number" name = "courseID" class="full-width-input"/>
        </label>
        <br>
        <br>
        <button type = "submit" class = "searchButton">Search</button>
    </form>
  </div>

  <div class="column">
    <h1 class="h1-reg">Search by department</h1>
    <p>Please choose a department that you want to search</p>
    <form class="reg" action = "department" method = "POST">
        <label for="department">Department</label>
        <select class="dept" value="{{department}}" name="department" id="department">
          <option value="Computer Science">Computer Science</option>
          <option value="Electrical Engineering">Electrical Engineering</option>
        </select>
        <br>
        <br>
        <div>
        <button type = "submit" class = "searchButton">Search</button>
        </div>
    </form>
  </div>

  <div class="column">
    <h1 class="h1-reg">Drop course</h1>
    {{#if booDrop}}
    <p>Please choose one of the following registeredCourses to drop</p>
    <ul>
        {{#each registeredCoursesList}}
        <article>
        <li>
            <a href = "/courses/registration/drop/{{this._id}}">{{this.courseTitle}}  {{this.courseName}}</a>
        </li>
        </article>
        {{/each}}
    </ul>
    {{else}}
    <p>Sorry, you don't have any registered course yet</p>
    {{/if}}
  </div>
</div>
