{{!-- JG added --}}
<nav>
        <div class="circleBehind">
            <a href="/mainPage">HOME</a>
            <a href="/courses/registration/">MAKE ANOTHER SEARCH</a>
            <a href="/aboutus">ABOUT-US</a>
            <a href="/logout">LOGOUT</a>
        </div>
</nav>

<section>
    <div class="CourseInfo">
    <h1 class="targetCourse">Target Course</h1>
    {{#if boo}}
    <table>
      <thead>
        <tr>
          <th>Details</th>
          <th>Values</th>
        </tr>
      </thead>
  <tbody>
    <tr>
      <td>ID</td>
      <td>{{course.courseID}}</td>
    </tr>
    {{!-- <tr>
      <td>Term</td>
      <td>{{course.term}}</td>
    </tr> --}}
    <tr>
      <td>Title</td>
      <td>{{course.courseTitle}}</td>
    </tr>
    <tr>
      <td>Name</td>
      <td>{{course.courseName}}</td>
    </tr>
    <tr>
      <td>Credits</td>
      <td>{{course.credits}}</td>
    </tr>
    <tr>
      <td>Department</td>
      <td>{{course.department}}</td>
    </tr>
    <tr>
      <td>Seats Available</td>
      <td>{{course.availableSeats}}</td>
    </tr>
    <tr>
      <td>Time</td>
      <td>{{course.time}}</td>
    </tr>
    <tr>
      <td>Location</td>
      <td>{{course.location}}</td>
    </tr>
    <tr>
      <td>Professor</td>
      <td>{{course.professor}}</td>
    </tr>
    <tr>
      <td>Pre-requisite</td>
      <td>{{course.prerequisite}}</td>
    </tr>
    <tr>
      <td>Co-requisite</td>
      <td>{{course.corequisite}}</td>
    </tr>
    <tr>
      <td>Description</td>
      <td>{{course.description}}</td>
    </tr>
    <tr>
      <td>Comments</td>
      <td><a href = "/courses/registration/comment/{{course._id}}">View Comments</a></td>
    </tr>
    <tr>
      <td>AvgRating</td>
      <td>{{course.avgRating}}</td>
    </tr>


  </tbody>
</table>
</div>
<br>
    <form class="search-btn" action = "/courses/registration/search/register" method = "POST">
        <button class="searchButton" type="submit">Register</button>
    </form>
    {{else}}
    <p> We're sorry, but no course was found for courseID {{courseID}}</p>
    {{/if}}
</section>



